<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sp18.ssu370.baseprojectapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- __________________________ -->
        <activity android:name=".ui.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- __________________________ -->
        <activity android:name=".ui.activities.layoutClass">
            <intent-filter>
                <action android:name="android.intent.action.LayoutClass" />
            </intent-filter>
        </activity>
        <!-- __________________________ -->
        <activity android:name=".ui.activities.AndroidCameraApi">
            <intent-filter>
                <action android:name="android.intent.action.Camera" />
            </intent-filter>
        </activity>
        <!-- __________________________ -->
        <activity android:name=".ui.activities.TopsActivity">
            <intent-filter>
                <action android:name="android.intent.action.TopsActivity" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.BottomsActivity">
            <intent-filter>
                <action android:name="android.intent.action.BottomsActivity" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.ShoesActivity">
            <intent-filter>
                <action android:name="android.intent.action.ShoesActivity" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.AccessoriesActivity">
            <intent-filter>
                <action android:name="android.intent.action.AccessoriesActivity" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.OuterWearActivity">
            <intent-filter>
                <action android:name="android.intent.action.OuterWearActivity" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.DressesActivity">
            <intent-filter>
                <action android:name="android.intent.action.DressesActivity" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.CameraForTops">
            <intent-filter>
                <action android:name="android.intent.action.Camera" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.CameraForBottoms">
            <intent-filter>
                <action android:name="android.intent.action.Camera" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.CameraForAccessories">
            <intent-filter>
                <action android:name="android.intent.action.Camera" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.CameraForDresses">
            <intent-filter>
                <action android:name="android.intent.action.Camera" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.CameraForOuterwear">
            <intent-filter>
                <action android:name="android.intent.action.Camera" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.CameraForShoes">
            <intent-filter>
                <action android:name="android.intent.action.Camera" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.TagActivity">
            <intent-filter>
                <action android:name="android.intent.action.TagActivity" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.ArticleActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ArticleActivity" />
            </intent-filter>
        </activity>
    </application>

</manifest>